/* This is a comment
*/

/* CSS Syntax */

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font: normal 0.75em/1.5em Georgia, cursive;
  color: *888;
  text-align: right;
}

.milk-text {
  font: bold 2.6em Georgia, cursive;
  color: white;
  text-shadow: 0 2px 3px *000;
}

*logo {
  background: aqua;
}

*logo h1 {
  font-family: Georgia , cursive;
  color: red;
}

*logo h2 {
  font-family: Georgia, cursive;
}

*details a:link, *details a:visited {
  color: black;
  text-decoration: none;
}

*details a:hover {
  color: black;
  text-decoration: underline;
}

*details a.active {
  color: red;
}
